#page1 {
  background: url('///Users/jolita/Documents/LocalRepository/Customized Scroll Theme/img/workout.jpg') center center no-repeat;
  text-align: center;
  background-size: cover;
  color: #fff;
}

#page3 {
  background-color: #d4f0db;
}

#page5 {
  background-color: #fffede;
}

#page2 {
  background-color: #ddf5fb;
}

#page6 {
  background-color: #d0e8ee;
}
